.Letter-display{
    border: 5px solid rgb(179, 13, 13);
    display: grid;
    grid-template-columns: repeat(8, [letter] 1fr);
}


.Single-Letter{
    padding-top: 20px;
    font-weight: bold;
    border-radius: 50px;
    width: inherit;
    height: 80px;
    border: 2px solid rgb(0, 0, 0);
    background: khaki;
    font-size: 40px;
    text-align: center;
}


