.Letter-display{
    margin-top: 20px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(8, [letter] 1fr);
}


.Single-Letter{
    padding-top: 20px;
    font-weight: bold;
    border-radius: 50px;
    width: inherit;
    height: 80px;
    border: 2px solid rgb(0, 0, 0);
    background: khaki;
    font-size: 40px;
    text-align: center;
}

.Word-Solver{
    border: 5px solid rgb(13, 113, 179);
    display: grid;
    row-gap: 1000px;
    grid-template-rows: [letters] 1fr [input] 1fr [gameInfo] 1fr;
    
}

.Input{
    margin-top: 20px;
    font-size: 15px;
}
.Points{
    border-top: 5px solid rgb(0, 0, 0);
    background: rgb(32, 47, 75);
    font-size: 25px;
    font-weight: bold;
}
.Results{
    border-top: 5px solid rgb(0, 0, 0);
    background: rgb(32, 47, 75);
    font-size: 25px;
    font-weight: bold;
}
.Timer{
    border-top: 5px solid rgb(0, 0, 0);
    background: rgb(32, 47, 75);
    font-size: 25px;
    font-weight: bold;
}
.Game-Info{
    margin-top: 20px; 
    display: grid;
    grid-template-columns: [points] 1fr [results] 1fr [startBtn] 1fr; 
    column-gap: 10px;
}
.Start{
    background-color: inherit;
    align-self: stretch;
    font-size: 25px;
}

.Description{
    border-top: 5px solid rgb(0, 0, 0);
    background: rgb(32, 47, 75);
    font-weight: bold;
    margin-top: 20px; 
}





