.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Checkers-piece {
  width: 100px;
  height: 100px;
  background: rgb(38, 0, 255);
  border-radius: 50%
}
.Checkers-whiteSpace {
  background: #fff;
  float: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px; 
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  color :rgb(179, 13, 13);
  border: 1px solid rgb(179, 13, 13);
}
.Checkers-blackSpace {
  background: rgb(0, 0, 0);
  float: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  color: rgb(179, 13, 13);
  border: 1px solid rgb(179, 13, 13);
}

.Checkers-header {
  padding: 20px;
  font-size: 35px;
  text-align: left;
  border: 5px solid rgb(179, 13, 13)
}
.Checkers-game{
  border: 8px solid rgb(40, 211, 34);
}

.Checkers-board {
  border: 5px solid rgb(77, 13, 179)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-Body{
  background-color: #ffffff;
}
.App-link {
  color: #61dafb;
}
.Checkers-logo{
  max-height: 100px;
  max-width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
