

.App {
  text-align: center;
}

.App-body{
  padding-left: 120px;
  display: grid;
  grid-template-columns: [sdfs] 1005px [secondCol] auto [firstCol] auto;
  align-content: right;
  
}
.App-footer {
  border-top: 5px rgb(0, 0, 0);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: monospace;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes example {
  from {border: 10px solid rgb(179, 13, 13)}
  to {border: 10px solid rgb(140, 0, 255)}
}
@keyframes showLink {
  from {margin-top: 100%;}
  to {margin-top: 0%;}
}
/* The element to apply the animation to */


.App-header {
  background-color: rgb(32, 47, 75);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px solid black;
  color: white;
}

.App-link {
  color: #61dafb;
}
.Checkers-logo{
  max-height: 100px;
  max-width: 100px;
}

.Home-button {
  border-radius: 25px;
  font-size: 25px;
}
