

.App {
  text-align: center;
  border: 10px solid rgb(0, 0, 0);

}

.App-footer {
  align-self: end;
  text-align: center;
  border: 10px solid rgb(43, 13, 179);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*
.Container {
  display: grid;
  grid-template-columns: [firstCol] 200px [secondCol] 200px;
  grid-template-rows: [firstRow] 200px [secondRow] 200px;
}
*/
@keyframes example {
  from {border: 10px solid rgb(179, 13, 13)}
  to {border: 10px solid rgb(140, 0, 255)}
}
@keyframes showLink {
  from {margin-top: 100%;}
  to {margin-top: 0%;}
}
/* The element to apply the animation to */

.Container {
  display: grid;
  grid-template-columns: [firstCol] 1fr [secondCol] 1fr;
  grid-template-rows: [firstRow] 1fr [secondRow] 1fr;
}
.Checkers-link{
  display: grid;
  grid-template-columns: [firstCol] 100% [secondCol] 0%;
  grid-template-rows: [firstRow] 100% [secondRow] 0%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 100%;
  animation-name: showlink;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: monospace;
  color: white;
}
.App-Body{
  background-color: #ffffff;
}
.App-link {
  color: #61dafb;
}
.Checkers-logo{
  max-height: 100px;
  max-width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
