/*
  Currently learning to use css so everything is messy and the over use of borders is just so I can visually 
  seperate each element on the page during development. I will remove the borders once checkers is complete
*/

  
.Checkers-pieceRed{
    align-self: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
}

.Checkers-pieceWhite {
    align-self: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.Checkers-pieceWhite-selected {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blinking{
    0%   {border: 1px solid rgb(27, 214, 10);}
    25%  {border: 2px solid rgb(27, 214, 10);}
    50%  {border: 3px solid rgb(27, 214, 10);}
    75%  {border: 4px solid rgb(27, 214, 10);}
    100% {border: 5px solid rgb(27, 214, 10);}
}
.Checkers-pieceRed-selected{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.Checkers-whiteSpace {
    padding: 10px;
    background: #fff;
    float: center;
    line-height: 34px; 
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 65px;
    color :rgb(179, 13, 13);
    border: 1px solid rgb(179, 13, 13);
}
.Checkers-blackSpace {
    
    padding: 5px;
    background: rgb(0, 0, 0);
    float: center;
    line-height: 34px;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 65px;
    color: rgb(179, 13, 13);
    border: 1px solid rgb(179, 13, 13);
}
.Checkers-row {
    margin: auto;
    width: 60%;
    display: flex;
}

.Checkers-sidebar {
    grid-row-start: span [firstRow];
    display: grid;
    grid-template-rows: [firstRow] 200px [secondRow] auto [thirdRow] 200px;
    border: 5px solid rgb(179, 13, 13);
}
.Checkers-turn {
grid-row-start: span [firstRow];
border-radius: 25px;
font-size: 35px;
font-family: monospace;
text-align: center;
border: 5px solid rgb(179, 13, 165)
}
.Checkers-message {
grid-row-start: span [secondRow];
border-radius: 25px;
font-size: 35px;
font-family: monospace;
text-align: center;
border: 5px solid rgb(179, 13, 165)
}
.Checkers-endTurn {
grid-row-start: span [thirdRow];
border-radius: 25px;
font-size: 35px;
font-family: monospace;
text-align: center;
border: 5px solid rgb(179, 13, 165)
}
.Checkers-game{
display: grid;
grid-template-columns: [firstCol] 275px [secondCol] auto;
grid-template-rows: [firstRow] 570px;
align-self: center;
}

.Checkers-board {
margin: -1;
display: grid;
align-content: center;
width: 800px;
grid-row-start: span [secondCol];
}

.Checkers-footer {
font-size: 25px;
text-align: center;
border: 5px solid rgb(184, 67, 116)
}